# Simple deploy test using Nginx
- name: Deploy Nginx pod
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Pod
      metadata:
        name: nginx-test
        namespace: default
        labels:
          app: nginx-test
      spec:
        containers:
        - name: nginx
          image: nginx:latest
          ports:
          - containerPort: 80

- name: Deploy Service for Nginx
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: nginx-service
        namespace: default
        labels:
          app: nginx-test
      spec:
        type: NodePort
        selector:
          app: nginx-test
        ports:
        - port: 80
          targetPort: 80